.SideBarContainer{
    width: 28%;
}

.SideBarHeader{
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    color: #565673;
    letter-spacing: 2px;
    font-size: 18px;
}

.AboutUsImage{
    width:100%;
    box-sizing: border-box;
}

.AboutUsImage img{
    max-width: 100%;
}

.AboutUsImage + p{
    font-size: 15px;
    font-weight: 300;
}

.RecentPost{
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.RecentPost h3{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    letter-spacing: 1px;
    color: #6c6c6c;
}

.RecentPost span{
    font-size:10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6c6c6c;

}